# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store

# environment
.env

# credentials
credentials.json

# unzipped folder
/manualdocs

# compiled CSS
/src/*.css

# Code coverage
coverage
