---
applications:
- path: .
  memory: 128M
  instances: 1
  domain: mybluemix.net
  name: conversation-with-discovery-openwhisk
  buildpack: https://github.com/cloudfoundry/staticfile-buildpack.git
  disk_quota: 1024M
  services:
  - <CONVERSATION_NAME>
  - <DISCOVERY_NAME>
