.discovery-result {
    border: 1px solid #aaaaaa;
    width: 75%;
    padding-top: 0px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    margin: 0px;
}

.discovery-title {
    margin-left: 0.5rem;
}